* {
    padding: 0;
    margin: 0;
} 

body {
background: #121212 url(images/bg.jpg) repeat-y scroll center top;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
/*font-stretch: ultra-expanded;*/
line-height: 18px;
color: #ccc;
}

img { border: none;}
a { color: #FFF; text-decoration: none; }
a:hover { color : #faf391; }

a.meulink { color: #FFFFFF; font-weight: bold; text-decoration: none; filter:alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; -khtml-opacity: 0.5;}
a.meulink:hover { color: #FFFFFF; font-weight: bold; filter:alpha(opacity=100); -moz-opacity: 1.0; opacity: 1.0; -khtml-opacity: 1.0;}

a.publink { color: #0088FF; font-weight: bold }
a.publink:hover { color: #FAF391; }

*.transOFF {opacity:1; filter: alpha(opacity=100); -moz-opacity: 1.0; color: #FFFFFF}
*.transON {opacity:.50; filter: alpha(opacity=50); -moz-opacity: 0.5; color: #FFFFFF}
img.transON {opacity:1; filter: alpha(opacity=100); -moz-opacity: 1.0; color: #FFFFFF }

h3.meuh3 { color:#FAF391; font-size: 16px; font-weight: bold; text-decoration: none;}

h2.meuh2 { color:#FAF391; font-size: 25px; font-weight: light; text-decoration: none;}

#wrap {
width: 760px;
background: #222;
margin: 0px auto;
}
.header {
color: #FAF391;
padding-top: 20px;
height: 80px;
/*text-transform: uppercase;*/
background: #333;
background-image:url(images/headerbg2.jpg);
}
.header h1 {
font-size: 34px;
font-weight: 100;
padding: 10px 0 4px 10px;
letter-spacing: -1px;
}
.header h1 a {
color: #FAF391;
text-decoration: none; 
}
.header h1 a:hover { 
color: #fff;
text-decoration: none; 
}
.header h2 {
font-size: 17px;
font-weight: 100;
color: #fff;
padding-left: 12px;
}
.header h3 {
font-size: 14px;
font-weight: 100;
color: #FAF391;
padding-left: 12px;
}

.leftsidebar {
  padding-top : 20px;
  float : left ;
  list-style: none;
  width : 200px ;
  height : 750px ;
}

.navigation { 
width: inherit;
}
.navigation ul { list-style-type: none; }
.navigation li { 
padding: 0; 
margin: 0; 
}
.navigation a, 
.navigation a:visited {
text-transform:capitalize;
display: block;
height: 25px;
line-height: 25px;
padding: 0 10px 0 10px;
color: #ffffff;
background: #222;
text-decoration: none;
border-bottom: 1px solid #171B20;
}
.navigation a:hover {
color: #000;
background-color: #FAF391;
}

.content {
padding: 10px 10px 10px 0;
float: right;
width: 540px;
}
.content h2 {
color: #FAF391;
font-size: 28px;
letter-spacing: -1px;
font-weight: 100;
padding: 10px 0 10px 0;
/*text-transform: uppercase;*/
}
.content h2 a { }
.content h2 a:hover { text-decoration: none; }

.footer {
padding: 10px;
font-size: 11px;
color: #aaa;
text-align: center;
background: #333;
background-image:url(images/footerbg.jpg);
}
.footer a {
color: #aaa;
}
.footer a:hover {
color: #FAF391;
}
